.Login{
width: 50%;
color: aliceblue;
background-color: rgba(21, 24, 26, 0.897);
padding: 2em;
margin-top: 10%;
margin-left: auto;
margin-right: auto;
}
.Login-Header{
    font-size: 24px;
    font-weight: bold;
    padding: 1em;
}
.Login-Footer{
    padding: 1em;
    
}
.Login-Footer Button{
    background-color: #4E9F3D;
    border-color: #4E9F3D;;
}
.Signup{
    width: 50%;
    color: aliceblue;
    background-color: rgba(21, 24, 26, 0.897);
    padding: 2em;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    }
    .Signup-Header{
        font-size: 24px;
        font-weight: bold;
        padding: 1em;
    }
    .Signup-Footer{
        padding: 1em;
        
    }
    .Signup-Footer Button{
        background-color: #4E9F3D;
        border-color: #4E9F3D;;
    }
    